body, html {
	height: 100%;
}

div#map {
	height:100%;
	min-height:100%;
}

.leaflet-top{
	top:50px;
}

#timeslider {
	width:150px;
}

#startTime, #timeslider, #stopTime {
	float:left;
	padding: 0 20px 0 20px;
}

#timeDisplay{
	position:absolute;
	top:60px;
	right:10px;
	z-index:1029;
	text-shadow:1px 1px 3px #999999;
}

.navbar-brand, .navbar-brand:hover{
	color:#ffffff !important;
}

.ui-widget-content {
	background:#111111 !important;
}

ul.dropdown-menu-form {
    padding: 5px 10px 0;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    min-width:200px;
}

input.hidden-checkbox{
	display:none;
}

.day-1-color{
	background-color:#3498db;
}

.day-1-color.active{
	background-color: #2980b9;
}

.day-2-color {
	background-color:#e74c3c;
	border-color:#c0392b;
}

.day-2-color.active, .day-2-color:hover, .day-2-color:focus{
	background-color: #c0392b;
	border-color:#962d22;
}